version: '3.8'

services:
  web:
    build: .
    ports:
      - "8000:8000"
    networks:
      - app-network
    volumes:
      - .:/app
    environment:
      - DATABASE_URL=postgresql://user:password@db:5432/user
    depends_on:
      db:
        condition: service_healthy
  db:
    image: postgres:15
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: user
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

      - ./init-db.sh:/docker-entrypoint-initdb.d/init-db.sh
      - ./app/sql/01_init.sql:/docker-entrypoint-initdb.d/01_init.sql
      - ./app/sql/02_data.sql:/docker-entrypoint-initdb.d/02_data.sql
    networks:
      - app-network
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U user"]
      interval: 10s
      timeout: 5s
      retries: 5

  pgadmin:
    image: dpage/pgadmin4
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@example.com
      PGADMIN_DEFAULT_PASSWORD: admin
    ports:
      - "8080:80"
    volumes:
      - pgadmin_data:/var/lib/pgadmin
    networks:
      - app-network
    depends_on:
      db:
        condition: service_healthy


volumes:
  postgres_data:
    driver: local
  pgadmin_data:
    driver: local

networks:
  app-network:
    driver: bridge